<div class='ui segment answerSegment'>
  <div class='ui grid'>
    <div class='twelve wide column'>
        <p class='answerAnswer'>{{answer.answer}}</p>
        <p class='answerAuthor'>{{answer.author}}</p>
    </div>
    <div class='four wide column'>
      <i class='comment icon massive'></i>
    </div>
  </div>
</div>
<br>
