<div class='ui segment right aligned'>
  <div class='comment'>
    <div class='avatar'>
      <i class='comment icon big'></i>
    </div>
    <div class='author'>
      {{answer.author}}
    </div>
    <div class='text'>
      {{answer.answer}}
    </div>
  </div>
</div>
<br>
