{{#link-to 'question' question.id}}
  <div class='ui segment'>
    <div class='comment'>
      <div class='avatar'>
        <i class='comment outline icon big blue'></i>
      </div>
      <div class='content'>
        <div class='author'>
          {{question.author}}
          <span class='metadata'>
            {{question.answers.length}}
            <i class='comment icon green'></i>
          </span>
        </div>
        <div class='text'>
          {{question.question}}
        </div>
      </div>
    </div>
  </div>
{{/link-to}}
<br>
