.appHeader {
  background-color: #DFF0FF;
  border-bottom: 2px solid black ;
  height: 100%;
}

.headerLinks {
  padding-left: 20px;
  padding-top: 10px;
  background-color: #DFF0FF;
}

.metadata {
  float: right;
}

.answers {
  padding-left: 15%;
  text-align: right;
}

.questionDetails {
  padding-right: 15%;
}

.comment {
  padding-bottom: 25px;
}

.field {
  text-align: left;
}

.questionQuestion {
  font-size: 2em;
  margin-bottom: 10px;
}

.questionAuthor {
  color: lightgray;
  margin-bottom: 10px;
}

.questionSegment {
  min-height: 150px;
}

.questionNotes {
  margin-bottom: 10px
}

.giantQuestionIcon {
  text-align: center;
  min-height: 150px;
}

.answerSegment {
  margin-bottom: 10px;
}

.answerAnswer {
  font-size: 2em;
  margin-bottom: 10px;
}

.answerAuthor {
  color: lightgray;
}

.deleteIcon:hover {
  cursor: pointer;
}

.headerText {
  padding-top: 10px;
  font-size: 3em;
}

.leftAlign {
  text-align: left;
}

.answerSidebar {
  text-align: center;
}

.rate {
  padding-top: 25px;
}

.thumbs:hover {
  cursor: pointer;
}

.questionSidebar {
  text-align: center;
}

.questionTimestamp {
  position: absolute;
  top: 20px;
  right: 20px;
}

.answerTimestamp {
  text-align: left;
}

.favorites {
  text-align: right;
}

.star:hover {
  cursor: pointer;
}

.voteDisplay {
  margin-top: 20px;
}

.upvotes {
  margin-top: 10px;
  text-align: right;
}

.downvotes {
  margin-top: 10px;
  text-align: left;
}

.upvoteCount {
  color: #21BA45;
  margin-top: 10px;
  font-size: 2em;
}

.downvoteCount {
  color: #DB2828;
  margin-top: 10px;
  font-size: 2em;
}
