.appHeader {
  background-color: #DFF0FF;
  border-bottom: 2px solid black ;
  height: 100%;
}

.metadata {
  float: right;
}

.answers {
  padding-left: 15%;
  text-align: right;
}

.questionDetails {
  padding-right: 15%;
}

.comment {
  padding-bottom: 25px;
}

.field {
  text-align: left;
}

.questionQuestion {
  font-size: 2em;
  margin-bottom: 10px;
}

.questionAuthor {
  color: lightgray;
  margin-bottom: 10px;
}

.questionSegment {
  min-height: 150px;
}

.questionNotes {
  margin-bottom: 10px
}

.giantQuestionIcon {
  float: left;
}

.answerSegment {
  margin-bottom: 10px;
}

.answerAnswer {
  font-size: 2em;
  margin-bottom: 10px;
}

.answerAuthor {
  color: lightgray;
}

.deleteIcon:hover {
  cursor: pointer;
}

.headerText {
  padding-top: 10px;
  font-size: 3em;
}

.leftAlign {
  text-align: left;
}
