.appHeader {
  background-color: lightgray;
  height: 100%;
}

.metadata {
  float: right;
}

.answers {
  padding-left: 15%;
  text-align: right;
}

.questionDetails {
  padding-right: 15%;
}

.comment {
  padding-bottom: 25px;
}

.field {
  text-align: left;
}
