{{#link-to 'index'}}
  <h1 class='ui center aligned huge icon header grey'>
    Answer Board
    <i class='comments outline icon'></i>
  </h1>
{{/link-to}}
<div class='ui container'>
  {{outlet}}
</div>
