{{#link-to 'index'}}
  <h1 class='ui center aligned huge icon header grey appHeader'>
    <br>
    <span class='headerText'>Answer Board</span>
    <i class='comments outline icon'></i>
  </h1>
{{/link-to}}
<div class='ui container'>
  {{outlet}}
</div>
