{{question-new newQuestion='newQuestion' class='ui aligned right'}}
<h2>Questions:</h2>
<div class='ui comments'>
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>
