<div class='ui questionDetails'>
  <div class='ui segment questionSegment'>
    {{question-details question=model}}
    {{question-edit question=model editQuestion='editQuestion'}}
  </div>
  <br>
</div>
<div class='ui answers'>
  {{answer-new question=model newAnswer='newAnswer'}}
  <br>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
