{{#link-to 'favorites'}}
  Favorites
{{/link-to}}

<div class='ui questionDetails'>
  <div class='ui segment questionSegment'>
    {{question-details question=model.question}}
    {{question-edit question=model.question editQuestion='editQuestion' deleteQuestion='deleteQuestion'}}
  </div>
  <br>
</div>
<div class='ui answers'>
  {{answer-new question=model.question newAnswer='newAnswer'}}
  <br>
  {{answers-display answers=model.answers deleteAnswer='deleteAnswer' upvote='upvote' downvote='downvote'}}
</div>
