{{question-edit question=model editQuestion='editQuestion'}}
{{answer-new question=model newAnswer='newAnswer'}}
<div class='ui questionDetails'>
  {{question-details question=model}}
</div>
<div class='ui answers'>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
